$mainColor:#FF6D05;
$slightBlack:#333;

.app-purchase-create,
.app-purchase-order{
    .formProductEdit{
        .productSpecArea{
            height: 200px;
            box-sizing: border-box;
            overflow: auto;
            & > .productSpecArea-row{
                background-color: white;
                border-radius: $defaultBR;
                margin: 10px 0;
                text-align: center;
                .productSpecArea-row-info{
                    width: 350px;
                    & > label, & > span, & > input{
                        width: 50px;
                        text-align: center;
                    }
                    & > input{
                        background-color: white;
                        border: 1px solid $mainColor;
                        border-width: 0 0 1px 0;
                    }
                }
                .productSpecArea-row-btns{
                    width: 100px;
                }
            }
            .productSpecArea-noSpecHighLight{
                text-align: center;
                color: $mainColor;
                margin: 10px 0;
            }
        } // end productSpecArea
        .specAddingArea{
            text-align: center;
            padding: 10px 10px 15px;
            line-height: 25px;
            input,label{
                margin: 0 10px;
                text-align: center;
            }
            input{
                width: 50px;
                border: 1px solid $mainColor;
            }
            .fx-btn--Img-25px{
                float: right;
            }
        }
    }
    .orderContent{
        .orderContent-header{
            overflow: hidden;
            line-height: 35px;
            height: 40px;
            .orderID, .app-supplier-showDetailBtn {
                width:fit-content;
                margin-right: 10px;
            }
            .orderID{
                & > label{
                    margin-right: 10px;
                }
            }
            .orderContent-supplier-search,
            .orderContent-moneyType-select{
                margin-left: 10px;
                & > input, & > select{
                    line-height: 25px;
                    height: 25px;
                    padding: 0 5px;
                    background-color: white;
                    border:1px solid $mainColor;  
                    border-radius:5px;
                    text-align: center;
                }
            }
            .orderContent-supplier-search{
                & > input{
                    width: 150px;
                    margin-right: 10px;
                }
            }
            .orderContent-moneyType-select{
                float: right;
                & > label{
                    margin-right: 10px;
                }
            }
        }
        .orderContent-main{
            height: calc(100% - 80px);
            .productAddBtn{
                margin-top: 10px;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .orderContent-footer{
            overflow: hidden;
            line-height: 35px;
            height: 40px;
            & > div{
                display: inline-block;
                vertical-align: middle;
            }
            .staticInfo{
                width: 400px;
                text-align: center;
                padding: 10px;
                border-top: 1px solid $mainColor;
                color: $mainColor;
                margin-left: 200px;
                span:nth-of-type(2n){
                    margin-left: 20px;
                }
                span:nth-of-type(3){
                    margin-left: 40px;
                }
            }
            .actionBtns{
                float: right;
                button{
                    margin: 0 10px;
                }
            } 
        }
    }
}
.app-purchase-order{
    .modifyConfirm{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
        background-color: $mainColor;
        padding: 5px 15px;
        border-radius: 15px;
        color: white;
        div{
            margin: 5px 0;
        }
        textarea{
            width: 300px;
            height:150px;
        }
        .btns{
            text-align: right;
            button{
                border-radius: 5px;
                background-color: white;
                border: 1px white solid;
                margin: 0 10px;
            }
        }
    }
}
.app-purchase-history{
    .orderList{
        .orderList-filter{
            height: 30px;
            line-height: 30px;
            overflow: hidden;
            margin-bottom: 15px;
            .app-filter-actionBtn{
                margin-top: 5px;
            }
        }
        .orderList-table{
            height: calc(100% - 45px);
            width: 100%;
            .fk-table-scrollArea{
                height: calc(100% - 40px);
            }
        }
    }
}