@import './fk-variables.scss';

.app-dashboard-block{
    margin: 15px;
    min-height: 250px;
}
.app-dashboard-blockTitle{
    padding-bottom: 10px;
    border-bottom: .5px solid black;
}
.app-dashboard-blockContent{
    padding: 10px 0;
    & > button{
        margin-right:10px;
    }
    .fk-table--black{
        width: fit-content;
        .fk-table-scrollArea{
            height: 300px;
        }
    }
    .app-loading{
        height: 150px;
    }
}
.app-dashboard-shopInfo, .app-dashboard-pwReset{
    width: 450px;
    float: left;
}
.app-dashboard-bussiSummary{
    width: 900px;
    float: left;
}
.app-dashboard-resetMK{
    .fk-form{
        width: 450px;
    }
}