@import './fk-variables.scss';

.app-stock-create, .app-stock-return{
    .orderContent{
        height: 100%;
        .orderContent-header{
            height: 35px;
            .orderID {
                width:fit-content;
            }
        }
        .orderContent-main{
            height: calc(100% - 70px);
            .fk-table-scrollArea{
                height: calc(100% - 30px);
            }
        }
        .orderContent-footer{
            height: 35px;
            .actionBtns{
                text-align: right;
                button{
                    margin: 0 10px;
                }
            }
        }
    }
}
.app-stock-history{
    .orderList{
        height: 100%;
        &>div{
            float: left;
            height: 100%;
        }
        .orderList-search{
            width: 525px;
            padding-right: 20px;
            .filter{
                position: relative;
                &>span{
                    margin-bottom: 10px;
                    label{
                        margin: 0 5px;
                    }
                    .fromDate, .toDate{
                        width:fit-content;
                    }
                }
                .searchBtn{
                    position: absolute;
                    cursor:default;
                    right: 15px;
                    background-color: $mainColor;
                    width: 75px;
                    line-height: 20px;
                    color: white;
                    font-size: 14px;
                    border-radius: 5px;
                    border: $mainColor 1px solid;
                }
            }
            .orderList-search-result{
                margin-top: 15px;
                height: calc(100% - 70px);
                .title{
                    color: $mainColor;
                    margin-bottom: 10px;
                }
                .content{
                    height: calc(100% - 40px);
                    .orderChoosed{
                        background-color: $mainColor;
                        color: white;
                    }
                }
            }
        }
        .orderList-detail{
            margin-top: 0px;
            padding-left: 20px;
            border-left: 1px solid $slightBlack;
            width: calc(100% - 525px);
            .title{
                color: $mainColor;
                margin-bottom: 10px;
            }
            .content{
                height: calc(100% - 40px);
            }
        }
    }
}
.app-stock-itemSelector, .app-stock-itemSelector--show{
    position: absolute;
    right: 0;
    top: 105px;
    font-size: 14px;
    width: 775px;
    height: calc(100% - 125px);
    color:white;
    background-color: $slightBlack;
    border-radius: 5px;
    padding: 10px;
    overflow: visible;
    transform: translate(770px,0);
    transition-duration: 1s;
    .searchToggle{
        writing-mode: vertical-rl;
        background-color: #333;
        padding: 10px 0 30px;
        border-radius: 5px 0 0 5px;
        position: absolute;
        top: 0;
        left: -45px;
        label{
            letter-spacing: 5px;
        }
        .app-toggle--Col, .app-toggle--Col-active{
            margin-top: 30px;
            border: 1px solid black;
        }
    }
    .orderSearchArea{
        .app-filter{            
            text-align: left;
            margin-bottom: 10px;
            line-height: 35px;
        }
        .orderSelector{
            background-color: white;
            color: black;
            border-radius: 5px;
            padding: 5px;
            margin-bottom: 10px;
            width:750px;
            height: 175px;
            overflow: hidden;
            .fk-table-header{
                height: 40px;
            }
            .fk-table-scrollArea{
                height: calc(100% - 40px);
            }
            .olderSummary{
                border-radius: 5px;
                line-height: 25px;
                margin: 2.5px 0;
                background-color: rgba($color: $slightGray, $alpha: 0.6);
            }
            .active{
                background-color: $mainColor;
            }
        }
    }
    .selectedOrder{        
        position: relative;
        background-color: white;
        color: black;
        border-radius: 5px;
        width:750px;
        height: calc(100% - 265px);
        padding: 5px;
        overflow:hidden;
        & > div{
            margin-bottom: 10px;
        }
        .selectedOrder-header{
            color:$mainColor;
            margin-bottom: 15px;
            .orderid{
                margin-left: 10px;
            }
            .selectAll{
                float: right;
                margin-right: 10px;
            }
        }
        .selectedOrder-main{
            height: calc(100% - 80px);
            .pcs{
                margin-right: 15px;
            }
        }
        .selectedOrder-footer{
            text-align: center;
            height: 30px;
        }
    }
}
.app-stock-itemSelector--show{
    transform:translate(0px, 0px);
}

