@import './fk-variables.scss';

.app-checkout-new{
    .informationArea{
        .main{ 
            height: 100%;
            width: 100%;
            .header{
                &>div{
                    display: inline-block;
                    vertical-align: middle;
                }
                .keyInArea{
                    float: right;
                    line-height: 37px;
                    span, input{
                        line-height: 25px;
                        border: none;
                    }
                    span{
                        margin:0 10px;
                        background-color: $slightBlack;
                    }
                    input{
                        background-color: transparent;
                        text-align: center;
                        color: white;
                    }
                }
            }
            .fk-table-flex--LH25px{
                margin-top: 25px;
                height: calc(100% - 75px);
                .fk-table-footer{
                    width: 800px;
                    &>div{
                        text-align: right;
                        .static{
                            width: calc(33% - 20px);
                            text-align: right;
                        }
                    }
                }
            }
        }
        .orderActionBtns{
            position: absolute;
            bottom:15px;
            right: 15px;
            button{
                margin: 0 10px;
            }
        }
    }
    .formSubmitBooking{
        .content{
            width: fit-content;
            .deposit{
                *{
                    line-height: 20px;
                }
                label{
                    margin-right: 15px;
                }
                input{
                    width: 125px;
                    text-align: center;
                }
            }
            .remindMsg{
                margin-top: 10px;
                color: $mainColor;
            }
        }
    }
}