$mainColor:#FF6D05;

#profile-shopList{
    display: inline-block;
    height: 100vh;
    vertical-align: middle;
    overflow: auto;
}
#profile-shopList{
    width: 80%;
}
#profile-sideMenu > li{
    color: white;
    width: 200px;
    margin: 10px 0 10px 75px;
    list-style: none;
    font-size: 18px;
}
#profile-sideMenu > li:nth-of-type(1){
    font-size: 36px;
    margin: 100px 0 50px 75px;
}
.shopBox, .shopBoxOnEdit{
    background-color: white;
    display: inline-block;
    width: 250px;
    height: 300px;
    border-radius: 25px;
    text-align: center;
    overflow: hidden;
    margin: 25px 50px;
}
.shopBoxOnEdit > .imgContainer,
.shopBox > .imgContainer{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: #FF6D05 5px solid;
    text-align: center;
    line-height: 150px;
    color: white;
    background-color: black;
    font-size: 48px;
    margin: 20px auto;
}
.shopBox > div{
    margin-top: 30px;
}
.shopBox > div > button{
    color: white;
    background-color:  #FF6D05;
    line-height: 24px;
    width: 50px;
    padding: 5 25px;
    border-radius: 10px;
    margin-left: 10px;
    border: 1px #FF6D05 solid;
}
#creatNewShop_btn{
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #FF6D05;
    text-align: center;
    color: white;
    font-size: 36px;
    font-weight: 900;
    position: fixed;
    right: 50px;
    bottom: 30px;
}
.shopBoxOnEdit{
    position: relative;
    input{
        width: 50%;
        line-height: 24px;
        border-radius: 10px;
        text-align: center;
        border: gray 1px solid;
        margin: 5px 0;
    }
    .imgContainer{
        width:50px;
        height: 50px;
        line-height: 50px;
        font-size: 24px;
    }
    .goBack{
        position: absolute;
        top: 10px;
        right: 15px;
        color: #FF6D05;
    }
    .changeShopTitle_btn{
        display: inline-block;
        color: white;
        background-color:  #FF6D05;
        line-height: 24px;
        padding: 0 10px;
        border-radius: 10px;
        margin-left: 10px;
    }
    .passwordChanger_Btn{
        width: 75%;
        background-color: #FF6D05;
        color: white;
        border-radius: 10px;
        line-height: 24px;
        border: 1px solid #FF6D05;
    }
    .passwordChangeInputs{
        input{
            width: 75%;
        }
    }
}

.shopCreator{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    display: inline-block;
    width: 300px;
    border-radius: 25px;
    text-align: center;
    overflow: hidden;
    padding: 20px 0;
    text-align: center;
    div{
        padding-bottom: 10px;
        font-size: 18px;
        font-weight: 600;
        color:$mainColor;
    }
    input{
        display: inline-block;
        line-height: 30px;
        border-radius: 10px;
        border: 1px solid $mainColor;
        width: 80%;
        margin: 5px 10%;
        padding-left: 5px;
    }
    button{
        width: 30%;
        margin: 15px 5% 5px 0;
        height: 30px;
        border-radius: 10px;
        border: black 1px solid;
    }
    button:nth-of-type(2){
        margin: 15px 0 5px 5%;
    }
}

