#profile-sideMenu,#profile-shopList{
    display: inline-block;
    height: 100vh;
    vertical-align: middle;
}
#profile-sideMenu{
    width: 20%;
    background-color: #FF6D05;
}
#profile-shopList{
    width: 80%;
}
#profile-sideMenu > li{
    color: white;
    width: 200px;
    margin: 10px 0 10px 75px;
    list-style: none;
    font-size: 18px;
}
#profile-sideMenu > li:nth-of-type(1){
    font-size: 36px;
    margin: 100px 0 50px 75px;
}
.shopBox{
    background-color: white;
    display: inline-block;
    width: 250px;
    height: 300px;
    border-radius: 25px;
    text-align: center;
    overflow: hidden;
    margin: 25px 50px;
}
.shopBox > .imgContainer{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: #FF6D05 5px solid;
    text-align: center;
    line-height: 150px;
    color: white;
    background-color: black;
    font-size: 48px;
    margin: 20px auto;
}
.shopBox > div{
    margin-top: 30px;
}
.shopBox > div > span{
    margin: 0 15px;
}
#creatNewShop_btn{
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #FF6D05;
    text-align: center;
    color: white;
    font-size: 36px;
    font-weight: 900;
    position: fixed;
    right: 50px;
    bottom: 30px;
}