@import './fk-variables.scss';

$defaultBtnLH:30px;
$littleBtnLH:25px;

/** common setting */ 
.fx-btn, .fx-btn--nobg, .fx-btn--white, .fx-btn--mainColor, .fx-btn--onlyText, .fx-btn--onlyText-black, .fx-btn--unable-black,.fx-btn--25LH, .fx-btn--25LH-nobg, .fx-btn--25LH-white, .fx-btn--25LH-mainColor{
    width: fit-content;
    padding: 0 10px;
    text-align: center;
    cursor:default;
    border-radius: $defaultBR;
    font-size: $smallFS;
    outline: none;
}
/** LH setting */
.fx-btn, .fx-btn--nobg, .fx-btn--white, .fx-btn--mainColor{
    line-height: $defaultBtnLH; // 30px
}
.fx-btn--25LH, .fx-btn--25LH-nobg, .fx-btn--25LH-white, .fx-btn--25LH-mainColor{
    line-height: $littleBtnLH; // 30px
}
/** STYLE setting */
.fx-btn--onlyText{
    color:white;
    background-color: transparent;
    border: none;
    outline: none;
    &:hover{
        color:$mainColor;
    }
}
.fx-btn--onlyText-black{
    color:black;
    background-color: transparent;
    border: none;
    outline: none;
    &:hover{
        color:$mainColor;
    }
}
.fx-btn--nobg{
    color:$mainColor;
    background-color:transparent;
    border:none;
    &:hover{
        color:white;
        background-color: $mainColor;
    }
}
.fx-btn--unable-black{
    color: rgba($color: $slightBlack, $alpha: .5);
    background-color:transparent;
    border:none;
}
.fx-btn--white{
    color: black;
    background-color: white;
    border: .5px solid black;
    &:hover{
        color: white;
        background-color: black;
    }
}
.fx-btn--mainColor, .fx-btn--25LH-mainColor{
    color: white;
    background-color: $mainColor;
    border: .5px solid $mainColor;
    &:hover{
        color: $mainColor;
        background-color: white;
    }
}
.fx-btn--Img-15px, .fx-btn--Img-25px, .fx-btn--Img-30px{
    display: inline-block;
    vertical-align: middle;
    line-height: 0px;
    padding: 5px;
    overflow: hidden;
    text-align: center;
    &:hover{
        padding: 2.5px;
    }
}
.fx-btn--Img-15px{
    height: 20px;
    width: 20px;
    & > img{
        width: 10px;
    }
    &:hover{
        & > img{
            width: 15px;
        }
    }
}
.fx-btn--Img-25px{
    height: 30px;
    width: 30px;
    & > img{
        width: 20px;
    }
    &:hover{
        & > img{
            width: 25px;
        }
    }
}
.fx-btn--Img-30px{
    height: 35px;
    width: 35px;
    & > img{
        width: 25px;
    }
    &:hover{
        & > img{
            width: 30px;
        }
    }
}