@import './fk-variables.scss';

$defaultBtnLH:25px;

.fx-btn, .fx-btn--nobg, .fx-btn--white{
    width: fit-content;
    padding: 0 10px;
    line-height: $defaultBtnLH;
    text-align: center;
    cursor:default;
    border-radius: $defaultBR;
    font-size: $smallFS;
}

.fx-btn--nobg{
    color:$mainColor;
    background-color:transparent;
    border:none;
    &:hover{
        color:white;
        background-color: $mainColor;
    }
}

.fx-btn--white{
    color: black;
    background-color: white;
    border: .5px solid black;
    &:hover{
        color: white;
        background-color: black;
    }
}

.fx-btn-little{
    cursor:default;
    text-align: center;
    background-color: $mainColor;
    color: white;
    width: 75px;
    line-height: 30px;
    border-radius: $defaultBR;
    border:1px solid white; 
}