@import './fk-variables.scss';

$formDefaultLH:30px;

.fk-form, .fk-form--white{
    margin: 0 auto;
    position: relative;
    padding: 10px;
    & > .fk-form-row{
        line-height: $formDefaultLH;
        text-align: left;
        margin: 0 auto;
        .highlight{
            color: $mainColor;
        }
        & > label{
            margin-right: 10px;
            padding: 0 5px;
            min-width: 75px;
        }
        & > input, & > span{
            min-width: 175px;
            padding: 0 5px;
            line-height: 20px;
            /** input LH */
        }
        .fk-form-cell-100px{
            width: 100px;
        }
        .fk-form-cell-125px{
            width: 125px;
        }
        .fk-form-cell-150px{
            width: 150px;
        }
        .fk-form-cell-175px{
            width: 175px;
        }
        .fk-form-cell-200px{
            width: 200px;
        }
    }
    & > .fk-form-remindMsg{
        padding: 0 5px;
        font-size: $smallFS;
        line-height: $formDefaultLH;
        height: $formDefaultLH;
        color: $mainColor;
    }
    .fk-form-actionBtns{
        width: fit-content;
        position: absolute;
        bottom: 15px;
        right: 15px;
        & > *{
            margin: 0 10px;
        }
    }
}

.fk-form{
    .fk-form-row{
        color: black;
        & > input{
            border: .25px solid white;
            background-color: white;
        }
    }
}

.fk-form--black{
    .fk-form-row{
        color: white;
        & > input{
            border: .25px solid $slightGray;
        }
    }
}