/** COLOR */
$mainColor:#FF6D05;
$slightBlack:#333;
$slightGray:#777;
$grayWhite:#ddd;

/** FONT */
$giantFS:21px;
$bigFS:18px;
$defaultFS:16px;
$smallFS:14px;
$tinyFS:12px;

/** Length */
$min-width:1024px;
$min-height:768px;

/** Border-Radius */
$defaultBR:5px;