/** Reset */
@import './normalize.css';
/** Styles */
@import './reset.scss';
@import './fk-variables.scss';
@import './fk-table-flex.scss';
@import './fk-button';
@import './fk-popBox.scss';
@import './fk-form.scss';
/** Pages */
@import './app-auth.scss';
@import './app-checkout.scss';
@import './app-stock.scss';
@import './app-sideNav.scss';
@import './app-guide.scss';
@import './app-dashboard.scss';
@import './app-purchase.scss';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC|Roboto&display=swap');

/** Font Style */

/** Basic Layout */
#root{
    position: relative;
    font-size: $defaultFS;
    width: 100%;
    height: 100vh;
    min-width: $min-width;
    min-height: $min-height;
    overflow: hidden;
    background-color:  $grayWhite;
    font-family: 'Noto Sans TC', 'Roboto', sans-serif , 'Microsoft JhengHei', 'sans-serif';
}
.app-blackCover{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    z-index: 10;
    background-color: rgba($color: $slightBlack, $alpha: .75);
}
.app-headerBar{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: $slightGray;
    color:white;
    overflow: hidden;
    .app-headerBar-shopTitle{
        float: left;
        margin-left: 65px;
    }
    .app-headerBar-operateArea{
        float: right;
        margin-right: 15px;
        #appShowGuideBtn{
            margin-right: 15px;
        }
        #appModeToggle{
            position: relative;
            top:-1px;
            label{
                margin-right: 10px;
            }
        }
    }
}
.app-pageMainArea{
    width: 100%;
    padding-left: 40px;
    height: calc(100% - 50px); 
    background-color: $grayWhite;
    .app-pageMainArea-header{
        height: 50px;
        line-height: 50px;
        width: 100%;
        padding: 0 15px;
        & > .location{
            float: left;
        }
        & > .operatingBtns{
            float: right;
            & > button{
                margin-left: 10px;
            }
        }
    }
    .app-pageMainArea-main{
        padding: 15px;
        margin: 5px 15px;
        width: calc(100% - 30px);
        background-color: white;
        height: calc(100% - 70px);
        border-radius: $defaultBR;
    }
}
/** Order Modify */
.app-orderModifySubmit{
    textarea{
        width: 100%;
        min-height: 150px;
    }
}

/** Filter */
.app-filter{
    .app-filter-option{
        margin: 0 5px;
        line-height: 25px;
        & > label{
            padding: 0 5px;
        }
        & > input{
            width: 100px;
            padding: 0 5px;
        }
        & > .date{
            width: 150px;
        }
    }
    .app-filter-actionBtn{
        float: right;
    }
}
/** Stock Checker*/
.app-StockChecker{
    .app-StockChecker-result{
        height: 150px;
    }
}

/** Toggle Style */
.app-toggle, .app-toggle-active,
.app-toggle--Col,.app-toggle--Col-active{
    width: 50px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    border: none;
    .app-toggle-ball{
        width: 15px;
        height: 15px;
        margin: 2.5px 5px;
        border-radius: 50%;
        background-color: $mainColor;
        border: none;
        transition-duration: 1s;
    }
}
.app-toggle{
    background-color: white;
    .app-toggle-ball{
        float: left;
    }
}
.app-toggle-active{
    background-color: $slightBlack;
    .app-toggle-ball{
        float: right;
    }
}
.app-toggle--Col{
    background-color: white;
    transform: rotate(90deg);    
    .app-toggle-ball{
        position: relative;
        top: -2px;
        left: -25px;
    }
}
.app-toggle--Col-active{
    background-color: $slightBlack;
    transform: rotate(90deg);
    .app-toggle-ball{
        position: relative;
        top: -2px;
    }
}
/** Checkbox */
.app-checkbox{
    width: 15px;
    height: 15px;
    position: relative;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black !important;
    margin: 0 5px;
    box-sizing: content-box;
    .app-checkbox-inner,
    .app-checkbox-inner-active{
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-55%,-45%);
        border-radius: 50%;
        border: none;
    }
    .app-checkbox-inner-active{
        background-color: $mainColor;
    }
    
}
/** Percentage */
.app-percentage{
    background-color: gray;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    height: 25px;
    span{
        margin: 0 !important;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 25px;
    }
    .color{
        background-color: $mainColor;
        color: $mainColor;
    }
    .text{
        width: 100%;
        line-height: 25px;
        background-color: transparent;
        color:white;
    }
}
/** Supplier */
.app-supplier-entryForm{
    .fk-form{
        .fk-form-row{
            line-height: 35px !important;
        }
    }
}
/** Customer */
.app-customer-entryForm{
    .fk-form{
        .fk-form-row{
            line-height: 35px !important;
        }
    }
}
.app-customer-detail{
    .fk-form{
        span{
            background-color: white;
        }
        .fk-table-scrollArea{
            height: 100px;
        }
    }
}
/** Loading */
.app-loading, .app-loading--black, .app-loading--fetching{
    width: 100%;
    height: 100%;
    min-height: fit-content;
    position: relative;
    background-color: transparent;
    .app-loading-center{
        text-align: center;
        width: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .app-loading-hourglass{
            margin: 0 auto;
        }
        .app-loading-text{
            text-align: center;
            color: $mainColor;
        }
    }
}
.app-loading--black, .app-loading--fetching{
    background-color: black;
    .app-loading-text{
        color: white !important;
    }
}
.app-loading--fetching{
    position: absolute;
    top: 0;
    left: 0;
}
.app-loading-hourglass{
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.app-loading-hourglass:after{
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid $mainColor;
    border-color: $mainColor transparent $mainColor transparent;
    animation: loading-hourglass 1.2s infinite;
}
@keyframes loading-hourglass{
    0%{
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50%{
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100%{
        transform: rotate(1800deg);
    }
}