$mainColor:#FF6D05;
$slightBlack:#333;

.shopMainArea-purchase-orderCreating{
    .supplierAddingForm{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 5;
        background-color: $mainColor;
        padding: 15px;
        border-radius: 15px;
        width: 250px;
        height: fit-content;
        color: white;
        div{
            margin: 10px 0;
        }
        label,input{
            display: inline-block;
            box-sizing: border-box;
            line-height: 25px;
        }
        label{
            width: 30%;
        }
        input{
            width: 70%;
            border-radius: 10px;
            border: 1px solid white;
            padding: 0 10px;
        }
        .buttons{
            text-align: center;
            button{
                display: inline-block;
                border-radius: 10px;
                border: 1px solid white;
                width: 60px;
                line-height: 25px;
                margin: 10px 10px 0 ;
            }
        }
    }
    .operatingArea{
        height: 10%;
        min-height: 75px;
        background-color: $slightBlack;
        & > *{
            display: inline-block;
            vertical-align: middle;
            margin-top: 17.5px;
        }
        .operatingBtns{
            float: right;
            & > button{
                background-color: $mainColor;
                width: 125px;
                line-height: 35px;
                color: white;
                font-size: 16px;
                border-radius: 25px;
                border: $mainColor 1px solid;
                margin-right: 25px;
            }
        }
    }
    .informationArea{
        position: relative;
        height: 90%;
        background-color: white;
        padding: 10px;
        & > *{
            display: inline-block;
            vertical-align: middle;
        }
        .styleFormLittleBtn{
            background-color: $mainColor;
            border-radius: 15px;
            width: 50px;
            line-height: 25px;
            border: 1px solid $mainColor;
            color: white;
        }
        .title{
           margin:0px 5px 0px 25px;
        }
        .basicInfo{
            width: 70%;
        }
        .innerOperatingArea{
            width: 30%;
            text-align: right;
            input{
                display: inline-block;
                background-color: white;
                line-height: 25px;
                text-align: center;
                border:1px solid $mainColor;  
            }
            .moneyType{
                background:#fafdfe;  
                height:25px;  
                width:100px;  
                line-height:25px;  
                border:1px solid $mainColor;  
                border-radius:2px;
            }
        }
        & > .contentTable{
            width: 100%;
            margin-top: 25px;
            *{
                font-size: 12px;
            }
            span{
                display: inline-block;
                text-align: center;
                font-weight: 500;
                width: 125px;
            }
            .productID, .itemID{
                width: 150px;
            }
            .itemSpec{
                width: 75px;
            }
            .tableHead{
                border-width: 0 0 1px 0;
                border-style: solid;
                border-color: black;
                padding-bottom: 5px;
            }
            .itemBox{
                margin: 10px 0;
            }
            .addNewProduct{
                margin:10px auto;
                background-color: $mainColor;
                text-align: center;
                width: 25px;
                line-height: 25px;
                border-radius: 50%;
                font-size: 16px;
                font-weight: 600;
                color: white;
            }
            .productBox{
                position: relative;
                .edit, .delete{
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    transform: translate(0,-50%);
                    width: 15px;
                }
                .delete{
                    right:40px;
                    width: 17px;
                }
            }
        }
        .totalInfo{
            position: absolute;
            bottom: 15px;
            left: 0;
            z-index: 10;
            width: 98%;
            text-align: center;
            padding: 10px 10px 0;
            border-top: 1px solid black;
            margin: 0 1%;
            span:nth-of-type(2n){
                margin-left: 20px;
            }
            span:nth-of-type(3){
                margin-left: 40px;
            }
        }
        .buttons{
            position: absolute;
            bottom: 60px;
            right: 30px;
            & > button{
                margin-left:10px;
            }
        }
    }
    .currentInfo{
        margin: 15px;
        & > div{
            color: white;
            font-size: 18px;
        }
    }
}

.shopMainArea-purchase-orderHistory{
    .supplierAddingForm{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 5;
        background-color: $mainColor;
        padding: 15px;
        border-radius: 15px;
        width: 250px;
        height: fit-content;
        color: white;
        div{
            margin: 10px 0;
        }
        label,input{
            display: inline-block;
            box-sizing: border-box;
            line-height: 25px;
        }
        label{
            width: 30%;
        }
        input{
            width: 70%;
            border-radius: 10px;
            border: 1px solid white;
            padding: 0 10px;
        }
        .buttons{
            text-align: center;
            button{
                display: inline-block;
                border-radius: 10px;
                border: 1px solid white;
                width: 60px;
                line-height: 25px;
                margin: 10px 10px 0 ;
            }
        }
    }
    .operatingArea{
        height: 75px;
        color: white;
        background-color: $slightBlack;
        & > div{
            display: inline-block;
            line-height: 75px;
            vertical-align: middle;
        }
        .currentInfo{
            padding-left: 24px;
        }
        .operatingBtns{
            float: right;
        }
    }
    .informationArea{
        position: relative;
        height: 90%;
        background-color: white;
        padding: 10px;
    }
}