html,body,div,ol,ul,h1,h2,h3,h4,h5,h6,span,input,label,select{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}
span,input,label,select,img,button{
    display: inline-block;
    vertical-align: middle;
}