#shop-login-panel{
    position: relative;
    background-color: white;
    width: 375px;
    height: 550px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .shopLogo{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        line-height: 200px;
        background-color: black;
        overflow: hidden;
        color: white;
        text-align: center;
        font-size: 72px;
        letter-spacing: 5px;
        border: 5px solid #FF6D05;
        margin: 50px auto 25px;
    }
    span.shopName{
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 10px auto;
        font-size: 24px;
        font-size: 700;
    }
    .masterLabel{
        display: block;
        font-size: 18px;
        text-align: center;
        margin: 10px;
    }
    .keyInBlock{
        width: 80%;
        margin: 10px 10%;
        line-height: 24px;
        padding: 10px;
        border-radius: 25px;
        border: #FF6D05 2px double;
        box-sizing: border-box;
    }
    input:nth-of-type(3){
        border: 0px;
        background-color: transparent;
        width: 30%;
        margin: 20px 10%;
    }
    .checkOutPanel{
        position: absolute;
        top: 0;
        left: 0;
        width: 70px;
        height: 70px;
        border-radius: 0 0 90% 0;
        background-color: #FF6D05;
        border: 1px solid #FF6D05;
        color: white;
        padding: 10px 0 0 10px;
        font-weight: 600;
    }
    .signIn_btn{
        position: absolute;
        bottom:20px;
        left: 50%;
        transform: translate(-50%,0);
        width: 100px;
        line-height: 45px;
        background-color: #FF6D05;
        color: white;
        border-radius: 20px;
        text-align: center;
    }
}
