#sideMenu{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 275px;
    height: 100vh;
    background-color: #FF6D05;
    z-index: 1;
    #website-logo{
        color: white;
        font-weight: 900;
        font-size: 36px;
        text-align: center;
        line-height: 50px;
        margin: 25px 0;
    }
    .member-name{
        color: white;
        margin: 15px;
        font-size: 18px;
    }
    ul.navBar{
        li{
            height: fit-content;
            overflow: hidden;
        }
        a{
            display: inline-block;
            padding-left: 15px;
            width: 100%;
            color: white;
            font-size: 16px;
            font-weight: 400;
            line-height: 40px;
            list-style-type: none;
            text-decoration: none;
        }
        a.active{
            background-color: white;
            color:#FF6D05;
        }
    }
    ul.navFooter{
        position: absolute;
        bottom: 20px;
        left: 15px;
        li{
            color: white;
            list-style-type: none;
        }
        #signOutBtn{
            margin-bottom: 20px;
        }
    }
}
.styleForShopSignIned{
    border-radius: 0 15px 15px 0;
    position: absolute !important;
    transform: translate(-260px,0);
    &:hover{
        animation-name:showUp;
        animation-duration:1s;
        animation-fill-mode: forwards;
    }
    @keyframes showUp{
        from{
            transform:translate(-240px, 0px);
        }
        to{
            transform:translate(0px, 0px);
        }
    }
}

