@import './reset.scss';
@import './sideNav.scss';
@import './memberLogin.css';
@import './shopAuth.scss';
@import './dashboard.scss';
@import './purchase.scss';
@import './stock.scss';

/** COLOR */
$mainColor:#FF6D05;
$backgroudColor:rgb(200, 200, 200);
$slightBlack:#333;
/** FONT */
$defaultFontSize:16px;

#root{
    font-size: $defaultFontSize;
    width: 100%;
    height: 100vh;
    background-color:  rgb(200, 200, 200);
}
.btn{
    cursor:default;  
}
.btnForFormLittle{
    cursor:default;
    background-color: $mainColor;
    color: white;
    width: 75px;
    line-height: 30px;
    border-radius: 15px;
    border:1px solid white; 
}
.btnForFormBig{
    cursor:default;
    background-color: $mainColor;
    width: 100px;
    line-height: 35px;
    color: white;
    font-size: $defaultFontSize;
    border-radius: 25px;
    border: $mainColor 1px solid;
}
/** SHOP COMMON STYLE */
.shopMainArea{
    position: relative;
    width: 99.5%;
    margin-left: .5%;
    height: 100%;
    z-index: 0;
    background-color: rgba($color: white, $alpha: .5);
    border: 10px $backgroudColor solid ;
    border-radius: 25px;
    .operatingArea{
        height: 75px;
        background-color: $slightBlack;
        .currentInfo{
            margin: 17.5px 0 0 15px;
            float: left;
            color: white;
        }
        .operatingBtns{
            float:right;
            line-height: 75px;
            & > button{
                background-color: $mainColor;
                width: 125px;
                line-height: 35px;
                color: white;
                font-size: $defaultFontSize;
                border-radius: 25px;
                border: $mainColor 1px solid;
            }
        }
    }
    .informationArea{
        position: relative;
        height: 100%;
        background-color: white;
        padding: 10px;
        padding-bottom: 75px;
        .orderFliter{
            line-height: 50px;
            background-color: rgba($color: $slightBlack, $alpha: .4);
            width: 100%;
            border-radius: 5px;
            color:white;
        }
    }
}