@import './reset.scss';
@import './sideNav.scss';
@import './memberLogin.css';
@import './shopAuth.scss';
@import './dashboard.scss';
@import './purchase.scss';
@import './stock.scss';

$backgroudColor:rgb(200, 200, 200);

#root{
    font-size: 16px;
    width: 100%;
    height: 100vh;
    background-color:  rgb(200, 200, 200);
}
.btn{
    cursor:default;  
}
.btnForFormLittle{
    cursor:default;
    background-color: $mainColor;
    color: white;
    width: 75px;
    line-height: 30px;
    border-radius: 15px;
    border:1px solid white;
    margin: 10px 20px;    
}
.btnForFormBig{
    cursor:default;
    background-color: $mainColor;
    width: 100px;
    line-height: 35px;
    color: white;
    font-size: 16px;
    border-radius: 25px;
    border: $mainColor 1px solid;
    margin-right: 25px;
}
.shopMainArea-purchase-orderHistory,
.shopMainArea-purchase-orderCreating,
.shopMainArea-purchase-orderDetail
{
    position: relative;
    width: 98.5%;
    margin-left: 1.5%;
    height: 100%;
    z-index: 0;
    background-color: rgba($color: white, $alpha: .5);
    border: 10px $backgroudColor solid ;
    border-radius: 25px;
}
